// app global css in SCSS form

.border {
  border: 1px solid var(--q-dark);
}

.background-card-task {
  background-color: #00BFFF;
}

.background-site {
  background-color: #1e90ff;
}

body {
  background-color: #f0f8ff;
}
